*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
}
.container {
    max-width: 720px;
    width: 50vw;
    margin: 0 auto;
    background-color: #494950;
    color: white;
    /*height: 200px;*/
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

form#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    align-content: center;
    flex-direction: row;
    width: 100%;
}
input {
    width: 100%;
    padding: 5%;
    font-size: 2em;
}

i.material-icons {
    font-size: 3em;
    /* display: flex; */
    /* align-items: center; */
}

label {
    background-color: #d34293;
    display: flex;
    /* width: 27px; */
    align-items: center;
    /* font-size: 49px; */
    border: 1px solid black;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
}

button {
    width: 100%;
    /* padding: 5%; */
    font-size: 3em;
    background-color: #002dba69;
    color: white;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
    /* height: 17%; */
}

button:hover {
    color: #d34293;
    cursor: pointer;
}

#tituloPrincipal{
    font-size: 3em;
}

img {
    width: 25vw;
    /* margin: 0 auto; */
}



@media screen and (max-width: 480px) {

    .container {
    
        width: 100%;
        /*margin: 130px 0 auto;    */
        color: white;
        height: 70%;
        
    }

    img {
        width: 100vw;
        
    }

    button#botaoPonto {
        background-image: url(../img/fingerprint_FILL0_wght400_GRAD0_opsz48.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        border-style: none;
        background-position: center;
       /* border-radius: 30%;
        width: 50%;*/
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        }

    #botaoPonto:hover {
        color: white;
        cursor:default;
    }

    form#formulario {       
        height: 100%;
    }
    
}

svg{
    fill:white;
}